@charset "utf-8";



.head {
    font-size: 0;
    text-align: center;
    margin-top: 100px;
}
.head > li {
    font-size: 16px;
    width: 120px;
    line-height: 35px;
    background: #000;
    color: #ffff;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.limenu {
    position: absolute;
    top: 100%;
    left: 0;
}
.limenu > li {
    width: 120px;
    line-height: 35px;
    background: #000;
    transition: all .5s linear;
    transform: rotateY(90deg);
}
.head > li:hover .limenu li {
    transform: rotateY(0);
}